<!DOCTYPE html>
<html>
  <head>
    <title>Record and save audio</title>
    <style>
      audio {
        display: block;
        margin: 5px;
      }
    </style>
  </head>
  <body>
    <div id="saved-audio-messages">
      <h2>Saved messages</h2>
    </div>
    <br/>
    <button id="record">Record</button>
    <button id="stop" disabled>Stop</button>
    <button id="play" disabled>Play</button>
    <button id="send" disabled>Send</button>
    <br/>
    <br/>

    User Message:  <input id="userInput" type="text"/>
    <br />
    <br />
    <br />
    

    Server Message:  <input id="serverInput" type="text"/>
    <br />
    <br />
    <br />
    <script type="text/javascript"
         src="{{ url_for('static', filename='js/app.js') }}"></script>

  </body>
</html>
